<form class="form-block">
  <div class="switch">
    <app-custom-toggle
      [options]="[
        { value: 'buy', label: 'BUY' },
        { value: 'sell', label: 'SELL' }
      ]"
      [(ngModel)]="conversionType"
      name="conversionType"
      (ngModelChange)="updateConversionType($event)"
    ></app-custom-toggle>
  </div>
  <div class="wrapper">
    <div class="currency-block">
      <app-custom-select
        [currencies]="currenciesValues"
        [(ngModel)]="firstSelect"
        [ngModelOptions]="{ standalone: true }"
        (ngModelChange)="updateFirstSelect($event)"
      ></app-custom-select>

      <app-custom-input
        name="from"
        label="From"
        [(ngModel)]="fromValue"
        [placeholder]="placeholder"
        [ngModelOptions]="{ standalone: true }"
        (ngModelChange)="updateFirstValue($event)"
      ></app-custom-input>
    </div>
    <div class="currency-block">
      <app-custom-select
        [currencies]="currenciesValues"
        [(ngModel)]="secondSelect"
        [ngModelOptions]="{ standalone: true }"
        (ngModelChange)="updateSecondSelect($event)"
      ></app-custom-select>

      <app-custom-input
        name="to"
        label="To"
        [(ngModel)]="toValue"
        [placeholder]="placeholder"
        [ngModelOptions]="{ standalone: true }"
        (ngModelChange)="updateSecondValue($event)"
      ></app-custom-input>
    </div>
  </div>
</form>
