.form-block {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 0 auto;
  padding: 25px;
  border-radius: 15px;
}

.switch {
  margin: 0 auto;
}

.wrapper {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}
.currency-block {
  display: flex;
  flex-direction: column;
  width: 300px;
}
